.posts {
  text-align: center;
  width: 30%;
  border: #282c34, 2px, solid;
  border-radius: 8px;
  margin: 20px auto;
  padding: 20px;
}

.customer-details {
  text-align: center;
  background-color:  #e6e7eb;
  border: #282c34 2px solid;
  width: 30%;
  height: 100%;
  border-radius: 2px;
  margin: auto;
  margin-bottom: 30px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.neg{
  color:red;
  background-color: lightgray;
  font-size: 36px;
  font-weight: bold;
  border : 3px solid;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 10%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}  
.pos{
  color:lawngreen;
  background-color: lightgray;
  font-size: 36px;
  font-weight: bold;
  border : 3px solid;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 10%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
button{
  border-radius: 4px;
  margin: 10px;
  font-size: 26px;
  color:white;
  background-color: darkgray;
  padding: 10px;
}

.customer-div {
  text-align: center;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
